# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Kate swap file
*.kate-swp

# kdevelop
.kdev4/
*.kdev4

# deb packaging
debian/autotier
debian/autotier.substvars
debian/autotier.postrm.debhelper
debian/debhelper-build-stamp
debian/files
debian/.debhelper

# build ouptut
dist

# tests
test_db

# code
.vscode/
.ccls-cache/

# doxygen
dev-doc/
